* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #AE1F3D;
}

.row-1 {
    height: 50vh;
}

.row-2 {
    height: 50vh;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: whitesmoke;
    font-size: 4rem;
    font-style: italic;
    letter-spacing: .10em;
}

img {
    width: 152px;
    height: 152px;
    border: 3px solid whitesmoke;
    margin: 0 .10em;
}

@media screen and (max-width: 992px) {
    .row-1 {
        height: 40vh;
    }
    .row-2 {
        height: 60vh;
        margin-bottom: 4em;
    }
}